USE [JustMuesliDataBase]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 10/22/2021 5:21:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[ISOCode] [nvarchar](50) NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ingredient]    Script Date: 10/22/2021 5:21:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingredient](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Ingredient] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Muesli]    Script Date: 10/22/2021 5:21:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Muesli](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NameEN] [nvarchar](50) NOT NULL,
	[NameDE] [nvarchar](50) NOT NULL,
	[Protein] [float] NOT NULL,
	[Carbohydrates] [float] NOT NULL,
	[Fat] [float] NOT NULL,
	[PortionSize] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[TypeId] [int] NOT NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_Muesli] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MuesliIngredient]    Script Date: 10/22/2021 5:21:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MuesliIngredient](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MuesliId] [int] NOT NULL,
	[IngredientId] [int] NOT NULL,
 CONSTRAINT [PK_MuesliIngredient] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MuesliMix]    Script Date: 10/22/2021 5:21:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MuesliMix](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UserId] [int] NOT NULL,
	[Price] [float] NOT NULL,
 CONSTRAINT [PK_MuesliMix] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MuesliMixMuesli]    Script Date: 10/22/2021 5:21:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MuesliMixMuesli](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MuesliMixId] [int] NOT NULL,
	[MuesliId] [int] NOT NULL,
	[Grams] [int] NULL,
 CONSTRAINT [PK_MuesliMixMuesli] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 10/22/2021 5:21:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[TotalPrice] [float] NOT NULL,
	[OrderDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderMuesliMixes]    Script Date: 10/22/2021 5:21:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderMuesliMixes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[MuesliMixId] [int] NOT NULL,
 CONSTRAINT [PK_OrderMuesliMixes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type]    Script Date: 10/22/2021 5:21:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nchar](10) NULL,
 CONSTRAINT [PK_Type] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 10/22/2021 5:21:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[PhoneNumber] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Zip] [int] NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[CountryId] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Country] ON 

INSERT [dbo].[Country] ([Id], [Name], [ISOCode]) VALUES (1, N'AFGHANISTAN', N'AF')
INSERT [dbo].[Country] ([Id], [Name], [ISOCode]) VALUES (2, N'ÅLAND ISLANDS', N'AX')
INSERT [dbo].[Country] ([Id], [Name], [ISOCode]) VALUES (3, N'ALBANIA', N'AL')
GO
SET IDENTITY_INSERT [dbo].[Country] OFF
GO
SET IDENTITY_INSERT [dbo].[Ingredient] ON 

INSERT [dbo].[Ingredient] ([Id], [Name]) VALUES (1, N'Spelt Flakes')
INSERT [dbo].[Ingredient] ([Id], [Name]) VALUES (2, N'Porridge Oats')
INSERT [dbo].[Ingredient] ([Id], [Name]) VALUES (3, N'Corn')
GO
SET IDENTITY_INSERT [dbo].[Ingredient] OFF
GO
SET IDENTITY_INSERT [dbo].[Muesli] ON 

INSERT [dbo].[Muesli] ([Id], [NameEN], [NameDE], [Protein], [Carbohydrates], [Fat], [PortionSize], [Price], [TypeId], [CreatedDate]) VALUES (2, N'Spelt Flakes', N'Dinkelflocken', 14, 64, 2.6, 600, 4.55, 1, NULL)
INSERT [dbo].[Muesli] ([Id], [NameEN], [NameDE], [Protein], [Carbohydrates], [Fat], [PortionSize], [Price], [TypeId], [CreatedDate]) VALUES (3, N'Porridge Oats', N'Haferflocken', 12, 58.7, 7.3, 600, 4.55, 1, NULL)
INSERT [dbo].[Muesli] ([Id], [NameEN], [NameDE], [Protein], [Carbohydrates], [Fat], [PortionSize], [Price], [TypeId], [CreatedDate]) VALUES (4, N'Cornflakes', N'Cornflakes', 8, 83.3, 1.1, 600, 4.55, 1, NULL)
SET IDENTITY_INSERT [dbo].[Muesli] OFF
GO
SET IDENTITY_INSERT [dbo].[MuesliIngredient] ON 

INSERT [dbo].[MuesliIngredient] ([Id], [MuesliId], [IngredientId]) VALUES (1, 2, 1)
INSERT [dbo].[MuesliIngredient] ([Id], [MuesliId], [IngredientId]) VALUES (2, 3, 2)
INSERT [dbo].[MuesliIngredient] ([Id], [MuesliId], [IngredientId]) VALUES (3, 4, 3)
GO
SET IDENTITY_INSERT [dbo].[MuesliIngredient] OFF
GO
SET IDENTITY_INSERT [dbo].[MuesliMix] ON 

INSERT [dbo].[MuesliMix] ([Id], [Name], [CreatedDate], [UserId], [Price]) VALUES (12, N'TestMuesli', CAST(N'2021-10-17T17:07:04.050' AS DateTime), 2, 4.225)
INSERT [dbo].[MuesliMix] ([Id], [Name], [CreatedDate], [UserId], [Price]) VALUES (13, N'TestMuesli', CAST(N'2021-10-17T17:47:50.613' AS DateTime), 2, 4.55)
INSERT [dbo].[MuesliMix] ([Id], [Name], [CreatedDate], [UserId], [Price]) VALUES (15, N'FavouriteMuesli', CAST(N'2021-10-18T11:29:04.577' AS DateTime), 2, 4.55)
SET IDENTITY_INSERT [dbo].[MuesliMix] OFF
GO
SET IDENTITY_INSERT [dbo].[MuesliMixMuesli] ON 

INSERT [dbo].[MuesliMixMuesli] ([Id], [MuesliMixId], [MuesliId], [Grams]) VALUES (29, 12, 2, 350)
INSERT [dbo].[MuesliMixMuesli] ([Id], [MuesliMixId], [MuesliId], [Grams]) VALUES (30, 12, 3, 50)
INSERT [dbo].[MuesliMixMuesli] ([Id], [MuesliMixId], [MuesliId], [Grams]) VALUES (31, 12, 6, 50)
SET IDENTITY_INSERT [dbo].[MuesliMixMuesli] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([Id], [UserId], [TotalPrice], [OrderDate]) VALUES (1, 2, 20.436666666666667, CAST(N'2021-10-18T11:22:47.993' AS DateTime))
INSERT [dbo].[Order] ([Id], [UserId], [TotalPrice], [OrderDate]) VALUES (2, 2, 20.436666666666667, CAST(N'2021-10-18T11:23:30.303' AS DateTime))
INSERT [dbo].[Order] ([Id], [UserId], [TotalPrice], [OrderDate]) VALUES (3, 2, 38.425416666666663, CAST(N'2021-10-18T11:23:37.817' AS DateTime))
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderMuesliMixes] ON 

INSERT [dbo].[OrderMuesliMixes] ([Id], [OrderId], [MuesliMixId]) VALUES (1, 1002, 12)
INSERT [dbo].[OrderMuesliMixes] ([Id], [OrderId], [MuesliMixId]) VALUES (2, 1002, 13)
INSERT [dbo].[OrderMuesliMixes] ([Id], [OrderId], [MuesliMixId]) VALUES (3, 1002, 15)
SET IDENTITY_INSERT [dbo].[OrderMuesliMixes] OFF
GO
SET IDENTITY_INSERT [dbo].[Type] ON 

INSERT [dbo].[Type] ([Id], [Name], [Description]) VALUES (1, N'Basics', NULL)
INSERT [dbo].[Type] ([Id], [Name], [Description]) VALUES (2, N'Cereal', NULL)
INSERT [dbo].[Type] ([Id], [Name], [Description]) VALUES (3, N'Fruit', NULL)
SET IDENTITY_INSERT [dbo].[Type] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [Name], [Login], [Password], [Address], [PhoneNumber], [Email], [Zip], [City], [CountryId]) VALUES (2, N'Aboba', N'123', N'123', N'dgsadfasdf', N'+5234234234', N'fdfgsdgf@mail.ru', 420110, N'Kazan', 19)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Muesli]  WITH CHECK ADD  CONSTRAINT [FK_Muesli_Type] FOREIGN KEY([TypeId])
REFERENCES [dbo].[Type] ([Id])
GO
ALTER TABLE [dbo].[Muesli] CHECK CONSTRAINT [FK_Muesli_Type]
GO
ALTER TABLE [dbo].[MuesliIngredient]  WITH CHECK ADD  CONSTRAINT [FK_MuesliIngredient_Ingredient] FOREIGN KEY([IngredientId])
REFERENCES [dbo].[Ingredient] ([Id])
GO
ALTER TABLE [dbo].[MuesliIngredient] CHECK CONSTRAINT [FK_MuesliIngredient_Ingredient]
GO
ALTER TABLE [dbo].[MuesliIngredient]  WITH CHECK ADD  CONSTRAINT [FK_MuesliIngredient_Muesli] FOREIGN KEY([MuesliId])
REFERENCES [dbo].[Muesli] ([Id])
GO
ALTER TABLE [dbo].[MuesliIngredient] CHECK CONSTRAINT [FK_MuesliIngredient_Muesli]
GO
ALTER TABLE [dbo].[MuesliMix]  WITH CHECK ADD  CONSTRAINT [FK_MuesliMix_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[MuesliMix] CHECK CONSTRAINT [FK_MuesliMix_User]
GO
ALTER TABLE [dbo].[MuesliMixMuesli]  WITH CHECK ADD  CONSTRAINT [FK_MuesliMixMuesli_Muesli] FOREIGN KEY([MuesliId])
REFERENCES [dbo].[Muesli] ([Id])
GO
ALTER TABLE [dbo].[MuesliMixMuesli] CHECK CONSTRAINT [FK_MuesliMixMuesli_Muesli]
GO
ALTER TABLE [dbo].[MuesliMixMuesli]  WITH CHECK ADD  CONSTRAINT [FK_MuesliMixMuesli_MuesliMix] FOREIGN KEY([MuesliMixId])
REFERENCES [dbo].[MuesliMix] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MuesliMixMuesli] CHECK CONSTRAINT [FK_MuesliMixMuesli_MuesliMix]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_User]
GO
ALTER TABLE [dbo].[OrderMuesliMixes]  WITH CHECK ADD  CONSTRAINT [FK_OrderMuesliMixes_MuesliMix] FOREIGN KEY([MuesliMixId])
REFERENCES [dbo].[MuesliMix] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderMuesliMixes] CHECK CONSTRAINT [FK_OrderMuesliMixes_MuesliMix]
GO
ALTER TABLE [dbo].[OrderMuesliMixes]  WITH CHECK ADD  CONSTRAINT [FK_OrderMuesliMixes_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([Id])
GO
ALTER TABLE [dbo].[OrderMuesliMixes] CHECK CONSTRAINT [FK_OrderMuesliMixes_Order]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Country] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Country] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Country]
GO
